doctype html
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Angular Dynamic Locale
body
  header
    h1 Angular Dynamic Locale

  div(ng-controller="AngularDynamicLocaleController")
    h2 International based approach

    ul(
      style="list-style: none; padding: 0;"
    )
      li(
        style="display: inline-block; margin: 5px 10px; width: 120px"
      )
        | USD: {{12.38 | currency: dlCurrencySymbol['USD']}}

      li(
        style="display: inline-block; margin: 5px 10px; width: 120px"
      )
        | EUR: {{12.38 | currency: dlCurrencySymbol['EUR']}}

      li(
        style="display: inline-block; margin: 5px 10px; width: 120px"
      )
        | GBP: {{12.38 | currency: dlCurrencySymbol['GBP']}}

      li(
        style="display: inline-block; margin: 5px 10px; width: 120px"
      )
        | CAD: {{12.38 | currency: dlCurrencySymbol['CAD']}}

    h2 Locale based approach

    ul(
      style="list-style: none; margin: 0; padding: 0;"
    )
      li(
        style="display: inline-block; margin: 5px 10px; width: 75px"
        ng-repeat="value in values | limitTo: 1000"
      )
        {{value.currency | dlCurrency: value.currency_code}}

    h2 Currency Symbols

    ul(
      style="list-style: none; padding: 0;"
    )
      li(
        style="display: inline-block; margin: 5px 10px; width: 120px"
        ng-repeat="(key, value) in dlCurrencySymbol"
      )
        | {{key}}: {{value}}

  script(src="vendor.js")
  script(src="angular-dynamic-locale.js")
  script(src="app.js")
